<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phicdy.totoanticipation.admob">

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ad_app_id}" />
    </application>
</manifest>
